{% extends 'base.html' %}
{% block content %}
<div class="nav-bar" >
    
    <link rel="stylesheet" href="../static/css/style.css"/>
  <div class="navLogo">
    <h1 class="logo"><a style="font-size:xx-large;" href="#"> <span style="color: #428bca; ">My</span><span style="color: black;">Book</span></a></h1>
  </div>

  <div class="navLinks">
    <ul>
      <li class="listNav"><a href="#">FriendBoooks</a></li>
      <li class="listNav"><a href="#">Post</a></li>
    
      <li class="listNav"><a href="#"> {{email}}</a></li> 
    </ul>
  </div>
</div>
<di>

</di>


{% endblock %}
